@font-face {
    font-family: 'ChelseaMarket';
    src: url('/fonts/ChelseaMarket-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IndieFlower';
    src: url('/fonts/IndieFlower-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aref';
    src: url('/fonts/ArefRuqaa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.header {
    width: 100%;
    height: 160px; 
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.header img.logo {
    height: 180px; 
    margin-right: 60px;
    margin-left: 100px;
}

.header a {
    background-color: #9fa692c4;
    font-family: 'IndieFlower';
    font-size: 40px;
    border-radius: 100%;
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    margin-left: auto;
    margin-right: 180px;
}


.onda-mockup {
    position: absolute;    
    top: 160px;            
    left: 0;
    width: 100%;
    height: 90px;          
    background-image: url('/images/ondas.png');
    background-repeat: repeat-x;
    background-size: auto 90px;   
    background-position: top left;
    z-index: 900;          
}

.botao-adicionar {
    font-family: 'IndieFlower';
    background-color: #9fa692c4;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 20px;
    padding: 0 50px;
    width: fit-content;
    cursor: pointer;
}


body {
    background: #ead8d3;
    margin: 0;
    padding-top: 250px; 
}


.titulo {
    font-family: 'ChelseaMarket';
}


.imagens-container {
    padding: 50px;
    border: 1px solid black;
    border-radius: 60px;
    background-color: lightgray;
    margin: 40px;
}

.imagens-container h1 {
    font-family: 'ChelseaMarket';
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    letter-spacing: 2px;
}

.imagens {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    box-sizing: border-box;
}

.imagem-foto,
.imagem-empty {
    cursor: pointer;
    flex: 1 1 calc((100% - 32px) / 3); 
    max-width: calc((100% - 32px) / 3);
    box-sizing: border-box;
    aspect-ratio: 4 / 2;
    background-color: #d9b9ad7c;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.08);
}


.imagem-foto {
    position: relative;
    overflow: hidden;
}

.imagem-foto img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}


.imagem-foto::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 160ms ease-in-out;
    pointer-events: none;
    z-index: 1;
}

.imagem-foto:hover::before {
    opacity: 1;
}

.imagem-foto::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-image: url('/images/lixo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: opacity 160ms ease-in-out;
    pointer-events: none;
    z-index: 2;
}

.imagem-foto:hover::after {
    opacity: 1;
    pointer-events: auto;
}


.imagem-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
}


@media (max-width: 600px) {
    .imagens {
        gap: 12px;
        padding: 12px;
    }
    .imagem-foto,
    .imagem-empty {
        flex: 1 1 100%;
        max-width: 100%;
    }
}


.input-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0px 40px 20px 40px;
}

.input-item input,
.input-item select,
.input-item textarea {
    border: 1px solid black;
    border-radius: 20px;
    background-color: lightgray;
    padding: 12px;
}

.botoes-acao {
    display: flex;
    flex-direction: row;
    margin: 40px;
}

.botoes-acao.editar {
    justify-content: space-between;
}

.botoes-acao.adicionar {
    justify-content: center;
}

.botoes-acao-direita {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.checkbox-adotado,
.botao-guardar,
.botao-apagar {
    font-family: 'IndieFlower';
    font-size: 20px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 20px;
    padding: 0 50px;
    width: fit-content;
    cursor: pointer;
}

.checkbox-adotado label {
    cursor: pointer;
}

.checkbox-adotado-input {
    width: 20px;
    height: 15px;
}

.botao-apagar {
    background-color: #d9b9add8;
}

.checkbox-adotado,
.botao-guardar {
    background-color: #9fa692c4;
}


.onda-fim {
    width: 100%;
    height: 90px;                     
    background-image: url('/images/ondas.png');
    background-repeat: repeat-x;
    background-size: auto 90px;       
    background-position: top center;
    transform: rotate(180deg);        
    transform-origin: center;
    margin-top: 150px;                 
    display: block;
}

.footer {
    width: 100%;
    background: #dbe7e7;
    text-align: center;
    padding: 18px 0;
    font-family: 'ChelseaMarket', sans-serif;
    font-size: 15px;
    color: #333;
    box-shadow: 0 -1px 0 rgba(0,0,0,0.03);
}