@font-face {
    font-family: 'ChelseaMarket';
    src: url('../../fonts/ChelseaMarket-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IndieFlower';
    src: url('../../fonts/IndieFlower-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* impede scroll */
}

body {
    font-family: 'ChelseaMarket', sans-serif;
    background-color: #f4f4f4;
    background-image: url("../../images/background1.png");
    background-repeat: repeat-y;
    background-position: right;
    background-size: auto 100vh; 
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 160px; 
    background: #f2f2f2;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.header img.logo {
    height: 180px; 
    margin-right: 100px;
    margin-left: 100px;
}

.menu {
    display: flex;
    gap: 50px;
    margin-left: auto;  /* empurra o menu para a direita */
    margin-right: 200px; /* opcional: aproxima mais da borda como no mockup */
}
.menu a {
    font-family: 'ChelseaMarket', sans-serif;
    font-size: 30px;
    color: black;
    text-decoration: none;
}
/* Container central */
.login-container {
    height: calc(100vh - 160px - 60px); 
    /* altura da tela - header (160px) - footer (60px) */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
}

/* Caixa do login */
.login-box {
    background: #d9d9d9;
    width: 330px;
    padding: 28px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.login-box h2 {
    margin-bottom: 25px;
    font-family: 'IndieFlower', sans-serif;
    font-size: 32px;
}

/* Label */
.login-box label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    font-size: 16px;
}

/* Inputs */
.login-box input {
    width: 100%;
    padding: 10px 14px;
    border-radius: 25px;
    border: none;
    outline: none;
    margin-bottom: 18px;
    font-size: 15px;
    box-shadow: inset 0 3px 4px rgba(0, 0, 0, 0.28);
}

/* Botão */
.login-box button {
    background: #B7C3AD;
    width: 160px;
    padding: 10px 0;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.25);
    font-family: 'IndieFlower', sans-serif;
}

.login-box button:hover {
    background: #a7b498;
}

/* FOOTER */
.footer {
    background: #dbe7e7;
    text-align: center;
    padding: 20px;
    font-family: 'ChelseaMarket', sans-serif;
    font-size: 14px;
    color: #333;
    box-shadow: 0 -1px 0 rgba(0,0,0,0.03);
    margin-top: 65px; 
}