/* CORES DA PALETA */
:root {
  --azul-claro: #B8D3D9;
  --verde-escuro: #3D4037;
  --verde-suave: #9FA692;
  --gelo: #F2F2F2;
  --rosa-bege: #D9B9AD;
  --rosa-bege-rgb: 247, 230, 223;
  --rosa-gelo-rgb: 217, 185, 173;
}

* {
    font-family: "Chelsea Market", cursive;
}

body {
  margin: 0;
  background-image: url(../../images/background.png);
  font-family: "Chelsea Market", cursive;
  overflow-x: hidden;
}

/* HEADER */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--gelo);
}

.logo {
    width: 251.77px;
    height: 186.04px;
}

.menu a {
  margin-left: 30px;
  font-size: 22px;
  text-decoration: none;
  color: var(--verde-escuro);
  font-weight: bold;
}

/* TÍTULO */
.titulo {
  text-align: center;
  font-size: 60px;
  color: var(--verde-escuro);
  margin-top: 35px;
}

/* CATÁLOGO */
.catalogo {
  margin: 40px auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
  gap: 40px;
}

.card {
  background: rgba(var(--rosa-gelo-rgb), 0.5);
  padding: 25px 10px;
  border-radius: 60px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
  transition: transform .2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 20px;
}

.card p {
  margin-top: 10px;
  font-size: 22px;
  color: var(--verde-escuro);
  font-weight: bold;
}

/* RODAPÉ */
.footer {
  background: var(--azul-claro);
  padding: 25px;
  text-align: center;
  margin-top: 40px;
  color: var(--verde-escuro);
  font-weight: bold;
}
