@font-face {
    font-family: 'ChelseaMarket';
    src: url('/fonts/ChelseaMarket-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IndieFlower';
    src: url('/fonts/IndieFlower-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html, body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}
body {
    font-family: 'ChelseaMarket', sans-serif;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
}
.header {
    width: 100%;
    height: 160px; 
    background:white;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.header img.logo {
    height: 180px; 
    margin-right: 100px;
    margin-left: 100px;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 160px - 60px);
    background-image: url("/images/background1.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center top;
    position: relative;
    background-color: #F2F2F2;
}
.login-box {
    background: #D9D9D9;
    width: 400px;
    padding: 30px 30px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.20);
    margin:0 auto;
}
.login-box h2 {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: 'IndieFlower', sans-serif;
    font-size: 36px;
}
.login-box label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    font-size: 16px;
    padding-left: 50px
}
.login-box input {
    width: 80%;
    height: 42px;
    padding: 10px 18px;
    border-radius: 30px;
    border: none;
    outline: none;
    margin-bottom: 22px;
    font-size: 16px;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.20);
    background: #ffffff;
}
.login-box button {
    background: rgba(183, 195, 173, 0.707);
    width: 180px;
    height: 45px;
    border-radius: 25px;
    border: none;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 2px 4px 6px rgba(0,0,0,0.25);
    font-family: 'IndieFlower', sans-serif;
    margin-top: 10px;
}
.login-box button:hover {
    background: #A5B39E;
}
.error-message {
    color: #d9534f; 
    font-family: 'IndieFlower', sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 0 0 15px 0;
}
input.error {
    border: 2px solid #d9534f !important;
    box-shadow: 0px 3px 5px rgba(217, 83, 79, 0.4) inset !important;
}
.footer {
    background: #b8d3d987;
    text-align: center;
    padding: 20px;
    font-family: 'ChelseaMarket', sans-serif;
    font-size: 14px;
    color: #333;
    box-shadow: 0 -1px 0 rgba(0,0,0,0.03);
    margin-top: 0; 
}