<header class="header">
  <img src="/images/logo.png" alt="Cãoragem e Aumor" class="logo" />
  <% if (typeof admin !== "undefined" && admin) { %>
  <div class="header-buttons">
    <button onclick="location.assign('/registarCao')" class="btn-header">
      ADICIONAR +
    </button>
    <button class="btn-header" onclick="location.assign('/')">WEBSITE</button>
  </div>
  <% } else { %>
  <nav class="menu">
    <% if (typeof menu !== "undefined") { %> <% menu.forEach(item => { %>
    <a href="<%= item.url %>"><%= item.label %></a>
    <% }) %> <% } %>
  </nav>
  <% } %>
</header>
