@font-face {
    font-family: 'ChelseaMarket';
    src: url('../../fonts/ChelseaMarket-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IndieFlower';
    src: url('../../fonts/IndieFlower-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aref';
    src: url('../../fonts/ArefRuqaa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
}

/* HEADER */ 
.header {
    width: 100%;
    height: 160px; 
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.header img.logo {
    height: 180px; 
    margin-right: 60px;
    margin-left: 100px;
}

.menu {
    display: flex;
    gap: 50px;
    margin-left: auto;  
    margin-right: 200px; 
}
.menu a {
    font-family: 'ChelseaMarket', sans-serif;
    font-size: 30px;
    color: black;
    text-decoration: none;
}

/* MAIN */ 

.container {
    background-color: #b8d3d97a;
}

.container .paragrafo {

}

.container .onda-mockup {
    width: 100%;
    height: 148px; /* altura real da imagem */

    background-image: url('../../images/ondasprincipal.png');
    background-repeat: no-repeat;

    background-size: 100% auto; /* mantém altura natural e só ajusta largura */
    background-position: top center;

    position: relative;
    margin-top: 40px;
    z-index: 1;
}

body {
    margin: 0;
    padding-top: 100px;
}

.carrossel {
    background-image: url("../../images/background1.png");
}

#donativos {
    background-color: #d9b9ad86;
}

#donativos p {
    font-family: 'Aref';
}

#donativos .paragrafo-donativos {
    font-weight: bold;
}

#contactos {
    background-color: #f2f2f28a;
}

#contactos p {
    font-family: 'Aref';
}

#contactos .local {
    font-family: 'IndieFlower';
}

/* FOOTER */ 
.footer {
    width: 100%;
    background: #dbe7e7;
    text-align: center;
    padding: 18px 0;
    font-family: 'ChelseaMarket', sans-serif;
    font-size: 15px;
    color: #333;
    box-shadow: 0 -1px 0 rgba(0,0,0,0.03);
}