/* HEADER */ 
.header {
    width: 100%;
    height: 160px; 
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.header img.logo {
    height: 300px; 
    margin-right: 60px;
    margin-left: 100px;
}

.menu {
    display: flex;
    gap: 50px;
    margin-left: auto;  
    margin-right: 200px; 
}
.menu a {
    font-family: 'ChelseaMarket', sans-serif;
    font-size: 30px;
    color: black;
    text-decoration: none;
}

/* MAIN */ 


/* FOOTER */ 
.footer {
    width: 100%;
    background: #dbe7e7;
    text-align: center;
    padding: 18px 0;
    font-family: 'ChelseaMarket', sans-serif;
    font-size: 15px;
    color: #333;
    box-shadow: 0 -1px 0 rgba(0,0,0,0.03);
}