/* CORES DA PALETA */
:root {
  --azul-claro: #dbe7e7;
  --verde-escuro: #3D4037;
  --verde-suave: #9FA692;
  --gelo: #F2F2F2;
  --rosa-bege: #D9B9AD;
  --preto: #333;
  --branco:white;
  --rosa-gelo-rgb: 217, 185, 173;
}

@font-face {
  font-family: "ChelseaMarketLocal";
  src: url("/fonts/ChelseaMarket-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body {
  margin: 0;
  background-image: url(/images/background.png);
  font-family: "ChelseaMarketLocal";
  src: url("/fonts/ChelseaMarket-Regular.ttf") format("truetype");
  overflow-x: hidden;
}

.header {
  width: 100%;
  height: 160px;
  position:fixed;
  top: 0;
  left: : 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  background: white;
}

.header img.logo {
    height: 180px; 
    margin-right: 60px;
    margin-left: 100px;
}

.menu {
    display: flex;
    gap: 50px;
    margin-left: auto;  
    margin-right: 200px; 
}
.menu a {
    font-family: "ChelseaMarketLocal",sans-serif;
    font-size: 30px;
    color: black;
    text-decoration: none;
}
.titulo {
  text-align: center;
  font-family: "ChelseaMarketLocal",sans-serif;
  font-size: 60px;
  color: black;
  margin-top: 200px;
  font-weight: lighter;
}

.catalogo {
  margin: 40px auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
  gap: 40px;
  font-family: "ChelseaMarketLocal",sans-serif;
}

.card {
  background: rgba(var(--rosa-gelo-rgb), 0.5);
  padding: 25px 10px;
  border-radius: 60px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
  transition: transform .2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 20px;
}

.card p {
  margin-top: 10px;
  font-size: 22px;
  color: #333;
  font-weight: bold;
}

.footer {
    width: 100%;
    background: #dbe7e7;
    text-align: center;
    padding: 18px 0;
   font-family: "ChelseaMarketLocal";
    src: url("/fonts/ChelseaMarket-Regular.ttf") format("truetype");
    font-size: 15px;
    color: #333;
    box-shadow: 0 -1px 0 rgba(0,0,0,0.03);
}